input[type=text]
{
border: 1px solid #DDDDDD;
padding: 1px 3px 1px 3px;
margin-right: 20px;
}
input[type=text]:hover {  
background-color:#FFFFF3;
}
fieldset
{
background-color:#FBFDFF;
border: 1px solid #666666;
padding: 20px 20px;
-moz-border-radius: 1em;
margin-bottom: 20px;
}

legend
{
font-weight:bold;
}

.err
{
color:#FF0000;
font-size:9px;
}

#course_table
{
border: 1px solid #DDDDDD;
margin: 20px;
padding: 10px;
-moz-border-radius: 1em;
}
.editLink
{
float:right;
}

#regFormConfirm
{
clear: both;
}